@model Texxty.Models.Post

@{
    ViewBag.Title = "Create";
}

<h3>Create Post</h3>
<hr />

<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Hidden("BlogID", (int)ViewBag.BlogID)
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Post title...", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostContent, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    <textarea name="PostContent" cols="100" rows="10" placeholder = "Blog contents..." class = "form-control" required = "required"></textarea>
                    @Html.ValidationMessageFor(model => model.PostContent, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Draft, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Draft)
                        @Html.ValidationMessageFor(model => model.Draft, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (Session["username"] != null)
                    {<input type="submit" value="Create" class="btn btn-success" /> }
                    </div>
            </div>
        </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index",  new { id = ViewBag.BlogID })
    </div>
</div>