@model IEnumerable<Texxty.Models.Post>

@{
    ViewBag.Title = "Feed";
}

<h2>Feed</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostContent)
        </th>
        <th>
            Blog
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "PostDetails", "Post",  new { id = item.PostID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishedDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Draft)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.PostContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blog.Title)
        </td>
    </tr>
}

</table>
